.form-control {
    width: 85px;
   
  }
.form{
  width: 200px;
}
  .weather {
    border: solid 1px;
    border-color: rgb(83, 81, 81);
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
    max-width: 500px;
    background-image: linear-gradient(to top, #99ccff 0%,#e6f2ff 100%);
  }
 
  .description{
    position: relative;
    top:-40px;
  }
  .temperature{
    position: relative;
    font-size: 30px;
    top:-60px;
  }
 li {
   padding: 0px auto;
   list-style: none; 
   font-size: 18px;
 }


  .cond {
    line-height: 20px;
    min-width: 43%;
    padding-left: 5px;
    padding-top: 2px;
    position: relative;
    top: -65px;
    right: -200px;
    font-size: 18px;
  }
  .table {
    border: solid 1px;
    border-color: rgb(83, 81, 81);
    border-radius: 2px;
    box-shadow: none;
    width: 430px;
 
  }

  a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }
  .forecast{
    margin:0px auto;
  }
  